# Configuración de IPs de AWS EC2
# Nota: Cambia las IPs según tu configuración

# Master Node
MASTER_IP=54.210.156.47

# Slaves Public IPs
SLAVE_PUBLIC_IP_1=98.93.52.91
SLAVE_PUBLIC_IP_2=18.215.157.114
SLAVE_PUBLIC_IP_3=54.90.225.31
SLAVE_PUBLIC_IP_4=3.88.218.97
SLAVE_PUBLIC_IP_5=34.228.53.252
SLAVE_PUBLIC_IP_6=44.222.199.32

# Slaves Private IPs
SLAVE_PRIVATE_IP_1=10.0.1.145
SLAVE_PRIVATE_IP_2=10.0.1.234
SLAVE_PRIVATE_IP_3=10.0.1.239
SLAVE_PRIVATE_IP_4=10.0.1.68
SLAVE_PRIVATE_IP_5=10.0.1.185
SLAVE_PRIVATE_IP_6=10.0.1.46
